$bg-color: #3f4c6b;

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body{
    color: #333;
    font: {
        size: 18px;
        font-family: sans-serif;
    }
    padding: 0;
    margin: 0
}
a{
    color: $bg-color;
    font-weight: normal;
    text-decoration: none;
    &:hover{
        color: darken($bg-color, 20%);
    }
}
.container{width: 95%; margin: 0 auto;}

%base-header-footer{
    background-color: $bg-color;
    &, a{color: lighten($bg-color, 60%);}
}

%font-logo{
    font-family: 'Bree Serif', serif;
}

.header-banner{
    @extend %base-header-footer;

    padding: 5% 3%;
    padding-top: 8%;
    overflow: hidden;
    
    .header-logo h1{
        letter-spacing: 4px;
        color: lighten($bg-color, 65%);
        @extend %font-logo;
        font-size: 4em;
        margin: 0;
        text-shadow: 8px 8px 0 darken($bg-color, 10%);
    }
    
    
}
.menu{
    position: fixed;
    width: 100%;
    background-color: lighten($bg-color, 55%);
    border: 1px solid lighten($bg-color, 45%);
    padding: 1% 3%;
    ul{
        margin: 0;
        li{
            display: inline;
            a {
                padding: .2% .5%;
                &.font-logo{
                    font-weight: bolder;
                    font-size: 1.5em;
                    @extend %font-logo;
                }
            }
        }
    }
}
.section{
	background-color: #f7f7f7;
	padding: 2% 3%;
	margin: 2% 0;

    .header{

        h2:before{content: "- ";}
        &,span:first-child{padding-left: 1.5%;}
        margin-bottom: 3%;
    }

    code{
        $bg-code: #C1289E;
        padding: .3% .5%;
        font-size: 1em;
        background-color: lighten($bg-code, 50%);
        border: 1px solid lighten($bg-code, 47%);;
        color: $bg-code;
        -webkit-border-radius: 7px 7px 7px 7px;
        border-radius: 7px 7px 7px 7px;
    }

    h3{color: #444}
    table{width: 100%;}
    table td{padding: 0.5%}
}
.exemple{
	background-color: #eee;
	padding: 2% 2%;
	margin-bottom: 1%;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;

    header{
        h3{display: inline-block; margin-right: 1%;}
    }
}
.footer{
    @extend %base-header-footer;
    padding: 2% 3%;

    .author{
        &:before{
            content: "Developed by: ";
        }
    }
    .github{
        display: block;
        float: right;
    }
}