//== Buttons colors
//
@mixin btn-variant($color, $bg, $border){
	color: $color;
	background-color: $bg;
	border-color: $border;
}
@mixin btn-hover-variant($color, $bg, $border){
	@include btn-variant(darken($color, 1%), darken($bg, 10%), darken($border, 10%));
}